<div id="auth" column>
    <p>Authenticate to access HappyCake2</p>
    <input id="username" placeholder="Username (Your Name)"/>
    <button>Continue</button>
</div>
<div id="home" column>
    <p>Cookie manager</p>
    <div column>
        <hc2-minicake>Abernethy</hc2-minicake>
        <hc2-minicake>Biscotti</hc2-minicake>
        <hc2-minicake>Coyotas</hc2-minicake>
        <hc2-minicake>Custard cream</hc2-minicake>
        <hc2-minicake>Empire biscuit</hc2-minicake>
        <hc2-minicake>Gingerbread</hc2-minicake>
        <hc2-minicake>Nice biscuit</hc2-minicake>
        <hc2-minicake>Sandwich cookie</hc2-minicake>
        <hc2-minicake>Stroopwafel</hc2-minicake>
        <!--<hc2-minicake>Flag</hc2-minicake>-->
    </div>
</div>